.page-apply {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .apply-wrapper {
        flex: 1;
        height: 0;
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #fafafa;

        .apply-head {
            display: flex;
            align-items: center;
            padding-bottom: 16px;
            margin: 32px 32px 0 32px;
            border-bottom: 1px solid #f6f6f6;

            .apply-nav {
                flex: 1;
                display: flex;
                align-items: center;

                > h1 {
                    color: $primary-title-color;
                    font-size: 28px;
                    font-weight: 600;
                }
            }
        }

        .apply-content {
            flex: 1;
            padding: 16px 30px;
            overflow: auto;

            .apply-row-title {
                margin-bottom: 16px;

            }

            > div.apply-row-title:nth-last-child(2) {
                margin-top: 22px !important;
            }

            .apply-col {
                margin-bottom: 16px;

                > div {
                    font-size: 14px;
                    font-weight: normal;
                    background: #FFFFFF;
                    color: #333333;
                    border-radius: 8px;
                    padding: 12px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    position: relative;
                    border: 1px solid #f1f1f1;

                    > .logo {
                        width: 40px;
                        height: 40px;
                        display: inline-block;
                    }

                    > p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                    }

                    .apply-box-top-report {
                        position: absolute;
                        right: -16px;
                        top: -16px;
                        padding: 8px;
                    }
                }
            }
        }

        @media (max-width: 510px) {
            background-color: #FFFFFF;

            .apply-row-title {
                margin-bottom: 8px !important;
            }

            .apply-content {

                .ivu-row {
                    margin-left: -12px !important;
                    margin-right: -12px !important;
                }

                .apply-col {
                    margin-bottom: 6px;

                    > div {
                        display: block;
                        text-align: center;
                        padding: 12px 0;
                        background: none;
                        border-color: #ffffff;

                        .logo {
                            margin-bottom: 8px;
                            position: relative;
                        }

                        > p {
                            -webkit-line-clamp: 1;
                        }

                        .apply-box-top-report {
                            right: -20px;
                            top: -20px;
                        }
                    }
                }
            }
        }

    }
}

.apply-icon {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    &.approve {
        background-image: url("../images/application/approve.svg");
    }

    &.add-project {
        background-image: url("../images/application/add-project.svg");
    }

    &.add-task {
        background-image: url("../images/application/add-task.svg");
    }

    &.all-user {
        background-image: url("../images/application/all-user.svg");
    }

    &.complaint {
        background-image: url("../images/application/complaint.svg");
    }

    &.app-push {
        background-image: url("../images/application/app-push.svg");
    }

    &.approve {
        background-image: url("../images/application/approve.svg");
    }

    &.calendar {
        background-image: url("../images/application/calendar.svg");
    }

    &.file {
        background-image: url("../images/application/file.svg");
    }

    &.ldap {
        background-image: url("../images/application/ldap.svg");
    }

    &.mail {
        background-image: url("../images/application/mail.svg");
    }

    &.meeting {
        background-image: url("../images/application/meeting.svg");
    }

    &.meeting-create {
        background-image: url("../images/application/meeting-create.svg");
    }

    &.meeting-join {
        background-image: url("../images/application/meeting-join.svg");
    }

    &.okr {
        background-image: url("../images/application/okr.svg");
    }

    &.okr-analyze {
        background-image: url("../images/application/okr-analyze.svg");
    }

    &.report {
        background-image: url("../images/application/report.svg");
    }

    &.robot {
        background-image: url("../images/application/robot.svg");
    }

    &.scan {
        background-image: url("../images/application/scan.svg");
    }

    &.setting {
        background-image: url("../images/application/setting.svg");
    }

    &.signin {
        background-image: url("../images/application/signin.svg");
    }

    &.vote {
        background-image: url("../images/application/vote.svg");
    }

    &.word-chain {
        background-image: url("../images/application/word-chain.svg");
    }
}

.ivu-modal-wrap-apply {
    position: relative;
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100vw;

    .ivu-modal-wrap-apply-title {
        padding: 12px 30px;
        background: #ffffff;
        color: #303133;
        font-size: 20px;
        font-weight: 500;
        line-height: 40px;

        > p {
            float: right;
            cursor: pointer;
            color: #2b85e4;
            font-size: 14px;
            padding-left: 8px;
        }

        @media (max-width: 500px) {
            padding: 10px 30px;
            margin-right: 28px;
        }
    }

    .ivu-modal-wrap-apply-body {
        flex: 1;
        position: relative;
        padding: 8px 30px;

        .setting-item,
        .setting-component-item {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            flex: 1;
            display: flex;
            flex-direction: column;

            .ivu-form {
                padding: 8px 30px;
                overflow: auto;
                flex: 1;
            }

            .setting-template {
                margin-bottom: 12px;

                > div {
                    padding-right: 12px;
                    &:last-child {
                        padding-right: 0;
                    }
                }
            }

            .export-data > p {
                cursor: pointer;
                color: #2b85e4;
            }

            .setting-footer {
                flex-shrink: 0;
                position: static;
                padding: 16px 26px;
                border-top: 1px solid #F4F4F5;
                display: flex;
                align-items: center;
                gap: 8px;

                .ivu-btn {
                    min-width: 120px;
                    height: 38px;
                    line-height: 36px;
                    @media (max-width: 500px) {
                        width: 50%;
                    }
                }
            }
        }

        .ivu-modal-wrap-ul {
            list-style-type: none;
            overflow: hidden;
            border-radius: 3px;
            padding: 10px;
            margin: -10px;

            > li {
                border: 1px solid #eeeeee;
                padding: 16px;
                position: relative;
                margin-bottom: 12px;
                border-radius: 10px;
                display: flex;
                align-items: flex-start;

                &:hover {
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                }

                .modal-item-img {
                    margin-right: 20px;
                    flex-shrink: 0;

                    > img,
                    .apply-icon {
                        width: 52px;
                        height: 52px;
                        border-radius: 26px;
                    }
                }

                .modal-item-info {
                    flex: 1;

                    h4 {
                        font-size: 18px;
                        color: #333;
                        margin: 0 0 10px 0;
                        line-height: 1.2;
                        font-weight: 500;
                    }

                    .modal-item-desc {
                        font-size: 14px;
                        color: #666;
                        line-height: 1.6;
                        margin-bottom: 12px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }

                    .modal-item-tags {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 8px;
                        list-style-type: none;
                        margin-bottom: 12px;

                        > li {
                            padding: 4px 12px;
                            background: #f5f5f5;
                            border-radius: 12px;
                            font-size: 12px;
                            color: #666;
                            border: none;
                            margin: 0;
                        }
                    }

                    .modal-item-btns {
                        button + button {
                            margin-left: 12px;
                        }
                    }
                }
            }

        }

        .ai-tabs {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            flex: 1;
            display: flex;
            flex-direction: column;

            .ivu-tabs-bar {
                padding: 0 10px;
            }

            .ivu-tabs-content {
                height: 0;
                flex: 1;

                .ivu-tabs-tabpane {
                    height: 100%;
                }

                .aibot-setting {
                    position: relative;
                    height: 100%;
                }
            }
        }

        &.full-body {
            height: 0;
            overflow: auto;

            @media (max-width: 500px) {
                padding: 8px 0;

                .ivu-modal-wrap-ul {
                    > li {
                        border: 0;
                        border-top: 1px solid #eeeeee;
                        border-radius: 0;

                        &:hover {
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}

.mobile-scan-login-box {
    margin: 2px 0 12px;

    .mobile-scan-login-title {
        font-size: 20px;
    }

    .mobile-scan-login-subtitle {
        padding-top: 8px;
    }
}

body.window-portrait {
    .page-apply {
        .apply-head {
            margin: 24px 24px 0 24px;
        }

        .apply-content {
            padding: 16px 20px;

            .apply-col {
                > div {
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }
    }
}
